* {
    padding: 0;
    margin: 0;
}
    .links{
    color: #7f4fa3;
    text-decoration: none;
    }
    .links:hover{
        font-size: 15px;
        color: #2c0946;
    }

    .fonteTitulo{
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
        font-size: 23px;
    }
    .fonteTexto{
        font-family: 'Outfit', sans-serif;
        font-weight: 300;
        font-size: 20px;
    }
    .branco{
        color: white;
    }
    .roxoClaro{
        color: #7f4fa3;
    }
    .fundo{
        background-color: white;
        text-align: center;
    }
    .imagemRedonda{
        border-radius: 100%;
        margin-top: 15px;
    }
    
    .listaSemEstilo{
        list-style-type: none;

    }
    .skillsbox{
        background: #a96fd6;
    }
    .icone:hover{
        width: 42px;
    }
    .fundoimg{
        background-image: url("https://htmlcolors.com/gradients-images/56-purple-orange-gradient.jpg");
        padding: 75px;
    }
    #header{
        align-items: center;
        background: white;
        display: block;
        width: 100%;
        font-size: 17px;
        padding: 15px;
        word-spacing: 75px;
        position: fixed;
    }
    #rodapé{
        align-items: center;
        background-image: url("https://htmlcolors.com/gradients-images/56-purple-orange-gradient.jpg") ;
        display: block;
        word-spacing: 75px;
        padding-top: 15px;
        padding-bottom: 5px;
    }
    #sobre{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 25px;
    }
    .alinharRodapé{
        padding-left: 100px;
    }
    #skills{
        margin-bottom: 100px;
        padding: 25px;
    }
    .botão{
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 6px;
        padding-right: 6px;
        font-size: 16px; 
        line-height: 18px;
        border: 1px solid #7f4fa3;
        border-radius: 15% 0;
    }
    .botão:hover{
        background-color:#7f4fa3;
        color: white;
        font-size: 16px;
    }